.container {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  background-color: transparent;
  position: relative;
}

.contentContainer {
  display: flex;
  background-color: transparent;
  flex: 1;
  align-items: center;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.imageContainer {
  text-align: center;
}

.image {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 275px;
  margin: 0 10px;
  object-fit: contain;
  flex-shrink: 0;
}

.caption {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #fcfaf4;
  text-align: center;
  margin-top: 10px;
}

.heroSection {
  flex: 1;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  box-sizing: border-box;
}

.smallText {
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: lowercase;
  margin-bottom: 1rem;
  color: #FFD700;
  font-family: 'Lora', sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9)

}

.smallText:hover {
 color: #8EBC8F;  
  transform: scale(1.15);
}

.heading {
  font-size: 1.5rem;
  line-height: 1.35;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  color: #fcfaf4;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9)

}

/* Add responsive breakpoints */
@media (max-width: 1200px) {
  .heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
    max-width: 95%;
  }

  .smallText {
    font-size: 2.5rem;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .contentContainer {
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin: 10px auto;
  }

  .heroSection {
    padding: 10px;
    max-width: 95%;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 1rem;
  }

  .smallText {
    font-size: 1.5rem;
  }

  .heroSection {
    max-width: 95%;
  }
}

/* Overlay to darken the background */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25); /* Darkens the background */
  z-index: 1;
}

.contentContainer {
  position: relative;
  z-index: 2;
}

/* Adjusting container height for smaller screens */
@media (max-width: 768px) {
  .container {
    max-height: none; /* Removes the height constraint */
    height: auto;
  }
}