.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  background-color: transparent;
  position: relative;
}

.contentContainer {
  display: flex;
  background-color: transparent;
  flex: 1;
  align-items: center;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.imageContainer {
  text-align: center;
}

.image {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  max-width: 250px;
  margin: 0 50px;
  object-fit: contain;
  flex-shrink: 0;
}

.caption {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #FFD700;
  text-align: center;
  margin-top: 10px;
}

.heroSection {
  flex: 1;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  box-sizing: border-box;
  color: #fcfaf4;
}

.smallText {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  text-transform: lowercase;
  margin-bottom: 20px;
  color: #FFD700;
  font-family: 'Lora', sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
}

.smallText:hover {
  color: #fcfaf4;
  transform: scale(1.05);
}

.heading {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  color: #fcfaf4;
}

/* Add responsive breakpoints */
@media (max-width: 1200px) {
  .heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.25rem;
    max-width: 90%;
  }

  .smallText {
    font-size: 2rem;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  .contentContainer {
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin: 20px 0;
  }

  .heroSection {
    padding: 20px;
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 1rem;
  }

  .smallText {
    font-size: 1.5rem;
  }

  .heroSection {
    max-width: 95%;
  }
}

/* Overlay to darken the background */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darkens the background */
  z-index: 1;
}

.contentContainer {
  position: relative;
  z-index: 2;
}

/* Adjusting container height for smaller screens */
@media (max-width: 768px) {
  .container {
    max-height: none; /* Removes the height constraint */
    height: auto;
  }
}