.container {
  display: flex;
  flex-direction: row;
  min-height: 70vh;
  background-color: #fcfaf4;
}

.sidebar {
  min-width: 150px;
  background-color: #8FBC8F;
  padding: 10px 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 1.25px;
  height: 25%;
  background-color: #FCFAF4;
}

.contentContainer {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 20px;
  justify-content: center; /* Centers content horizontally */
}

.image {
  max-width: 300px; /* Adjusted size for better responsiveness */
  max-height: 100%;
  margin: 0 50px; /* Adds spacing around the image */
  object-fit: contain;
  flex-shrink: 0; /* Prevents the image from shrinking */
}

.heroSection {
  flex: 1;
  padding: 20px;
  text-align: left;
  max-width: 600px; /* Adjusted to improve readability */
  font-family: Lora, sans-serif;
  box-sizing: border-box;
}

.smallText {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: lowercase;
  margin-bottom: 20px;
  color: #2b2d2b;
  font-family: 'Lora, sans-serif';
  transition: color 0.3s ease, transform 0.3s ease;
}

.smallText:hover {
  color: #FFD700;
  transform: scale(1.05);
}

.heading {
  font-size: 1.75rem;
  line-height: 1.5;
  font-family: Georgia, serif;
  font-weight: normal;
  color: #333;
}

/* Adjust heading size at breakpoints */
@media (max-width: 1200px) {
  .heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 808px) {
  .heading {
    font-size: 1.5rem;
  }
}

/* Stack the content on smaller screens */
@media (max-width: 868px) {
  .container {
    flex-direction: column;
  }
  .contentContainer {
    flex-direction: column;
    padding: 20px 0;
    align-items: center; /* Centers image and text vertically */
  }
  .image {
    margin: 20px 0; /* Centers image with space on small screens */
  }
  .heroSection {
    padding: 20px;
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 1.25rem;
  }
  .heroSection {
    padding: 30px 15px;
    max-width: 95%;
  }
}